body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    color: white;
    line-height: 1.5em;
    font-size: 40px;
    letter-spacing: -.2px;
    margin: 0;
    /* text-transform: uppercase; */
}

h1 strong {
    color: #146ee4;
}

h2 {
    color: #146ee4;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero {
    height: 300px;
    /* background-image: url('../images/hero.jpg'); */
    background-color: #1b2127;
    /* background-size: 300px 300px;
    background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-image {
    object-fit: cover;
}

.portfolio {
    background-color: #fafafa;
    padding: 20px;
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
    /* margin-bottom: 15px; */
    padding: 20px;
}

.project-title {
    font-size: 30px;
    margin: 10px 0;
    margin-bottom: 10px;
    margin-top: 0;
}

.project-about {
    margin: 10px 0;
    font-size: 22px;
}

.project-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    /* justify-content: space-between; */
    /* width: 500px; */
} 

.project-imageContainer {
    width: 500px;
    display: contents;
}

.project-url a {
    color: black;
    text-decoration: none;
    margin: 10px 0;
}

.header {
    display: flex;
    background-color: #1b2127;
    color: white;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.logo img {
    margin-top: 40px;
}

.menu {
    height: inherit;
    align-items: center;
}

ol,
li {
    height: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.header ol{
    display: flex;
}

.header a {
    height: inherit;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 0 3px;
}

.footer {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer a {
    color: white;
    text-decoration: none;
}

.event {
    /* border: 1px solid #056fff; */
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4fbff;
}

.event-list-tittle {
    margin: 20px;
}

.event-list {
    display: flex;
    background-color: #fafafa;
    /* flex-wrap: wrap; */
}

.event-imageContainer {
    background-color: #f4fbff;
    display: flex;
    justify-content: center;
}

.event-image {
    object-fit: cover;
}

.event-details {
    margin: 20px 20px;
    /* margin-top: -40px; */
    padding: 15px;
    /* position: relative; */
    background-color: white;
    text-align: center;
    border: 1px solid #056fff;
}

.event-description {
    text-align: left;
}

.event-url {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {
   
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
    }

.social-link.twitter {
    background-image: url('../images/twitter.svg');
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
}

.social-link.instagram {
    background-image: url('../images/instagram.svg');    
}

.social-link.github {
    background-image: url('../images/github.svg');    
}

.form-email {
    margin: 0 0 0 10px;
}

.form-email input {
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/mail.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    border-style: solid;
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
    /* margin: 10px auto 0; */
    margin-top: 10px;
}

.form-email h3 {
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-size: 22px;
    margin: 10px;
}

.container {
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    /* flex-wrap: inherit; */
}
