

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    color: white;
    line-height: 1.5em;
    font-size: 40px;
    letter-spacing: -.2px;
    margin: 0;
    /* text-transform: uppercase; */
}

h1 strong {
    color: #146ee4;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?yezat3');
    src:  url('../fonts/icomoon.eot?yezat3#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?yezat3') format('truetype'),
      url('../fonts/icomoon.woff?yezat3') format('woff'),
      url('../fonts/icomoon.svg?yezat3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-facebook2:before {
    content: "\face";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-github:before {
    content: "\eab0";
  }
  
h2 {
    color: #146ee4;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero {
    height: 300px;
    /* background-image: url('../images/hero.jpg'); */
    background-color: #1b2127;
    /* background-size: 300px 300px;
    background-repeat: no-repeat; */
    /* background-position-x: right; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hero-image {
    object-fit: cover;
}

.portfolio {
    background-color: #fafafa;
    padding: 20px;
}

.project {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    /* margin-bottom: 15px; */
    padding: 20px;

}

.project-title {
    font-size: 30px;
    margin: 10px 0;
    margin-bottom: 10px;
    margin-top: 0;
}

.project-about {
    margin: 10px 0;
    font-size: 22px;
}

.project-details {
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    justify-content: space-between; */
    font-size: 18px;
    width: 50%;
} 

.project-imageContainer {
 
    /* width: 50%; */
    /* display: contents; */
}

.project-url a {
    color: black;
    text-decoration: none;
    margin: 10px 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #1b2127;
    color: white;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.logo img {
    margin-top: 40px;
}

.menu {
    height: inherit;
    align-items: center;
}

ol,
li {
    height: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.header ol{
    display: flex;
}

.header a {
    height: inherit;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 0 3px;
}

.footer {
    background-color: #1b2127;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer a {
    color: white;
    text-decoration: none;
}

.event {
    /* border: 1px solid #056fff; */
    margin: 1%;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4fbff;
}

.event-list-tittle {
    margin: 20px;
}

.event-list {
    display: flex;
    background-color: #fafafa;
    flex-wrap: wrap;
}

.event-imageContainer {
    background-color: #f4fbff;
    display: flex;
    justify-content: center;
}

.event-image {
    object-fit: cover;
}

.event-details {
    height: 90px;
    margin: 20px 20px;
    margin-top: -20px;
    padding: 15px;
    /* position: relative; */
    background-color: white;
    text-align: center;
    border: 1px solid #056fff;
}

.event-title.wordpress {
    font-size: 1em;
}

.event-description {
    text-align: center;
    margin-bottom: 10%;
}

.event-url {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
    color: #056fff;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.social-icon {
    font-size: 2.5em;
    color: white;
    text-decoration: none;
    background-size: 50px 50px;
    margin: 0 10px;
    }

.form-email {
    margin: 0 0 0 10px;
}

.form-email input {
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/mail.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    border-style: solid;
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
    /* margin: 10px auto 0; */
    margin-top: 10px;
}

.form-email h3 {
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-size: 22px;
    margin: 10px;
}

.container {
    /* border: 1px solid red; */
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
    
}

@media screen and (max-width: 1023px) {
    .container {
        padding: 0 1em;
    } 
    
    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    h1 {
        font-size: 2em;
        z-index: 2;
        background-color: rgba(27, 33, 39, .8);
    }

    .project {
        flex-wrap: nowrap;
    }
    .project-imageContainer {
        margin-left: 1em;
    }
}

@media screen and (max-width: 767px) {
    .burger-button {
        display: block;
    }

    .header {
        display: block;
        height: auto;
    }
    .header ol {
        display: initial;
    }
    .header ol li {
        height: 50px;
    }
    .header a {
        justify-content: center;
        height: 40px;
        font-size: 2.5em;
        text-decoration: underline;
        margin-bottom: .5em;
    }
    .header .logo {
        text-align: center;
    }
    .menu {
        position: fixed;
        z-index: 3;
        top: 0;
        bottom: 0;
        left: -100vw;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:rgba(20, 110, 228, .8);
        transition: .3s;
    }
    .menu.is-active {
        left: 0;
    }

    .project {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .project-imageContainer {
        width: auto;
        text-align: center;
        justify-content: center;
    }
    .project-imageContainer iframe {
        width: 100%;
        text-align: center;
    }

    .project-details {
        width: auto;
        font-size: 16px;
    }
    .project-title {
        font-size: 1.5em;
    }
    .project-about {
        font-size: 1.1em;
    }
    .project-about, .project-description, .project-url {
        margin: .3em;
    }

    .event {
        width: auto;
        flex-shrink: initial;
    }
    
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    .contact {
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
    }
    .form-email button {
        margin: 1em auto;
    }
    .form-email h3 {
        margin-top: 0;
    }

    .footer {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
    .event-image {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 1.2em;
    }
    .hero {
        padding: 2em 1em;
    }
    .hero-image {
        margin-top: -20px;
    }
}

