.navbar {
  background: rgb(237, 36, 36);
  background: linear-gradient(
    94deg,
    rgba(237, 36, 36, 1) 9%,
    rgba(221, 167, 167, 1) 68%
  );
  justify-content: flex-start;
}

.navbar-title {
  color: #fff;
}

@media screen and (max-width: 330px) {
  .navbar h1 {
    font-size: 2.5rem;
  }

  .navbar {
    justify-content: center;
  }
}
